<div class="login-container">
    <div class="login-card">
        <img class="login-img" src="../../assets/fs.jpg" alt="Login Image">
        <h2 class="login-title">Reset your password</h2>
        <form [formGroup]="ResetFom">
            <div class="form-group">
                <label for="input-email">Email address:</label>
                <input type="email" class="form-control" id="input-email" placeholder="Enter your email"
                    [ngClass]="{'is-invalid': ResetFom.get('email')?.invalid && ResetFom.get('email')?.touched}"
                    formControlName="email" autocomplete>
                <div *ngIf="ResetFom.get('email')?.invalid && ResetFom.get('email')?.touched"
                    class="invalid-feedback">
                    <div *ngIf="ResetFom.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="ResetFom.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <div class="form-group position-relative">
                <label for="input-password">New Password:</label>
                <input type="password" [type]="showPassword ? 'password': 'text'" class="form-control"
                    id="input-password" placeholder="Enter your password"
                    [ngClass]="{'is-invalid': ResetFom.get('password')?.invalid && ResetFom.get('password')?.touched}"
                    formControlName="password">
                <p-button icon="pi pi-eye" class="btn-toggle-password"
                    styleClass="p-button-rounded p-button-text shadow-none" *ngIf="!showPassword"
                    (click)="togglePasswordVisibility()"></p-button>
                <p-button icon="pi pi-eye-slash" class="btn-toggle-password"
                    styleClass="p-button-rounded p-button-text shadow-none" *ngIf="showPassword"
                    (click)="togglePasswordVisibility()"></p-button>
                <div *ngIf="ResetFom.get('password')?.invalid && ResetFom.get('password')?.touched"
                    class="invalid-feedback">
                    <div *ngIf="ResetFom.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="ResetFom.get('password')?.errors?.['minlength']">Password should be at least 6
                        characters long.</div>
                </div>
            </div>

            <div class="form-group position-relative">
                <label for="input-password">Confirmation Code:</label>
                <input type="text" class="form-control" id="input-confiCode" placeholder="Enter your Code"
                formControlName="confiCode" autocomplete [ngClass]="{'is-invalid': ResetFom.get('confiCode')?.invalid && ResetFom.get('confiCode')?.touched}">
                <div *ngIf="ResetFom.get('confiCode')?.invalid && ResetFom.get('confiCode')?.touched"
                    class="invalid-feedback">
                    <div *ngIf="ResetFom.get('confiCode')?.errors?.['confiCode']">Password is required.</div>
                    <div *ngIf="ResetFom.get('confiCode')?.errors?.['confiCode']">Password should be at least 6
                        characters long.</div>
                </div>
            </div>
            <button type="submit" class="btn login-btn" [disabled]="!ResetFom.valid"  (click)="navigateToLog()">Reset Password</button>
        
        </form>
    </div>
</div>