<body>
    <div class="area"></div>
    <nav class="main-menu">
        <img class="login-img" src="../../assets/fs1.png" alt="Login Image" style="margin-top: -64px;">
        <hr class="line" style="background-color:white; width: 70%;">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-list-alt fa-2x"></i>
                    <span class="nav-text" (click)="ToTicketList()">
                        Incidents
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-rss fa-2x"></i>
                    <span class="nav-text">
                        Statistics
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-flag-o fa-2x"></i>
                    <span class="nav-text">
                        Reporting
                    </span>
                </a>

            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>