.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-card {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slide-up 0.5s ease;
    margin-top: 40px;
  }
  
  .login-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    animation: zoom-in-out 4s infinite;
  }
  
  .login-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #1e2022;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1e2022;
    text-align: left;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #1e2022;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #777;
  }
  
  .login-btn {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1e2022;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #444;
  }
  
  .login-text {
    font-size: 14px;
    margin-top: 20px;
    color: #1e2022;
  }
  
  .login-text a {
    color: #1e2022;
    font-weight: bold;
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }
  @keyframes zoom-in-out {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}
.btn-toggle-password {
  position: absolute;
  top: 1.75rem;
  right: 0.5rem;
}  

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: none;
}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}