<div class="card shadow rounded">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="col-sm-3">
            <label for="date-input" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="date-input" placeholder="Enter date">
          </div>
          <div class="col-sm-3">
            <label for="input-field1" class="col-form-label">Declarant</label>
            <input type="text" class="form-control" id="input-field1" placeholder="Nom du Declarant">
          </div>
          <div class="col-sm-3">
            <label for="input-field2" class="col-form-label">Assigné a:</label>
            <input type="text" class="form-control" id="input-field2" placeholder="Nom de l'assignant">
          </div>
          <div class="col-sm-3">
            <label for="status-select" class="col-form-label">Status:</label>
            <select class="form-control" id="status-select">
              <option>En cours</option>
              <option>Cloture</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
</div>
  
  

  
  
  


<div class="d-flex align-items-center justify-content-center" style="height: 50vh;">
    <div class="table-responsive" style="width:80%; margin-top :40px">
      <table class="table table-hover">
          <thead>
          <tr>
              <th scope="col">Id-Ticket</th>
              <th scope="col">Description</th>
              <th scope="col">Signaler Par</th>
              <th scope="col">Date</th>
              <th scope="col">Declarant</th>
              <th scope="col">asignerA</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let T of Tickets ">
                  <td>{{T.id}}</td>
                  <td>{{T.description}}</td>
                  <td>{{T.SignalerPar}}</td>
                  <td>{{T.date | date:'shortDate'}}</td>
                  <td>{{T.status}}</td>
                  <td>{{T.Declarant}}</td>
                  <td>{{T.asignerA}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
