.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav h3 {
    color: #fff;
    margin-left: 20px;
  }
  
  .sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidenav li {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav li:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav.active {
    width: 250px;
  }
  
  