<div class="register-container" style="margin-top: 2%;">
  <div class="register-card">
    <img src="../../assets/fs.jpg" alt="Profile Picture" class="register-img">
    <h2 class="register-title">Create Account</h2>
    <form (ngSubmit)="onRegisterSubmit()" [formGroup]="registerForm">
      <div class="form-row">
        <div class="form-group col">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" required formControlName="first_name" [ngClass]="{'is-invalid': registerForm.get('first_name')?.invalid && registerForm.get('first_name')?.touched}">
            <div class="vald" *ngIf="registerForm.get('first_name')?.errors?.['required']">First Name is required.</div>
            <div class="vald" *ngIf="registerForm.get('first_name')?.errors?.['minlength']">First Name Too short.</div>
        </div>

        <div class="form-group col">
          <label for="lastName">Last Name</label>
          <input type="text" id="last_name" name="lastName" required minlength="4" formControlName="last_name" [ngClass]="{'is-invalid': registerForm.get('last_name')?.invalid && registerForm.get('last_name')?.touched}">
          <div class="vald" *ngIf="registerForm.get('last_name')?.errors?.['required']">Last Name is required.</div>
          <div class="vald" *ngIf="registerForm.get('last_name')?.errors?.['minlength']">Last Name Too Short.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}" formControlName="email">
            <div class="vald" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
            <div class="vald" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
      </div>  

      <div class="form-group position-relative">
        <label for="password">Password</label>
        <input type="password" [type]="showPassword ? 'password': 'text'" id="password" name="password" required
          [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}" formControlName="password">
          <div class="vald" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
          <div class="vald" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be at least 6 characters long.</div>
          <p-button icon="pi pi-eye" class="btn-toggle-password" styleClass="p-button-rounded p-button-text shadow-none" *ngIf="!showPassword" (click)="togglePasswordVisibility()" ></p-button>
          <p-button icon="pi pi-eye-slash" class="btn-toggle-password" styleClass="p-button-rounded p-button-text shadow-none" *ngIf="showPassword" (click)="togglePasswordVisibility()"></p-button>
      </div>

      <div class="form-group position-relative">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required minlength="6"
          [pattern]="registerForm.controls['password'].value"
          [ngClass]="{'is-invalid': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched}"
          formControlName="confirmPassword" [type]="showConPassword ? 'password': 'text'">
          <div  class="vald" *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</div>
          <div class="vald" *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">Confirm password must be at least 6 characters.</div>
          <div class="vald" *ngIf="registerForm.get('confirmPassword')?.errors?.['pattern']">Passwords do not match.</div>
          <p-button icon="pi pi-eye" class="btn-toggle-password" styleClass="p-button-rounded p-button-text shadow-none" *ngIf="!showConPassword" (click)="togglePasswordVisibilityCon()" ></p-button>
          <p-button icon="pi pi-eye-slash" class="btn-toggle-password" styleClass="p-button-rounded p-button-text shadow-none" *ngIf="showConPassword" (click)="togglePasswordVisibilityCon()"></p-button>
      </div>

      <button class="register-btn" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
    <p class="register-text">Already have an account? <a (click)="navigateToTarget()">Login here</a></p>
  </div>
</div>