<!-- <app-sidebar ></app-sidebar> -->
<app-sidebar-a></app-sidebar-a>
<div class="card shadow rounded" style="margin-top: 50px;">
  <div class="card-body">
    <form #form (submit)="submitForm()"> <!--(submit)="submitForm(form)" -->
      <div class="form-row">
        <div class="col-sm-3">
          <label for="date-input" class="col-form-label">Date:</label>
          <input type="date" class="form-control" id="date-input" placeholder="Enter date" [(ngModel)]="dateInputValue"
            name="dateInput">
        </div>
        <div class="col-sm-3">
          <label for="input-field1" class="col-form-label" style="margin-left: 80px;">Declarant</label>
          <p-autoComplete class="autocomplete-input  testo" [forceSelection]="true" (onSelect)="select($event)"
            placeholder="Nom du Declarant" field="firstname" [suggestions]="results" (completeMethod)="search($event)"
            [(ngModel)]="declarantInputValue" name="declarantInput"  style="margin-left: 80px;">
          </p-autoComplete>
        </div>
        <div class="col-sm-3">
          <label for="status-select" class="col-form-label" style="margin-left: 190px;">Status:</label>
          <div class="input-group">
            <select class="form-control" id="status-select" name="statusSelect"  [(ngModel)]="statusSelectValue" style="margin-left: 190px; margin-right: -180px;">
              <option value="" disabled selected>Select a status</option>
              <option *ngFor="let statu of status">{{statu.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 text-right">
          <button type="submit" class="btn btn-secondary" (click)="getTickets()" style="margin-right: 30px;">Refresh</button>
          <button type="submit" class="btn btn-primary" >Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card"  style="display: flex; justify-content: center; margin-top: 60px;">
  <p-table [value]="Tickets" [paginator]="true" [rows]="2" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[2,5,10]">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID-Ticket</th>
        <th scope="col">Description</th>
        <th scope="col">Assigné à</th>
        <th scope="col">Declaré Par</th>
        <th scope="col">Date de Declaration</th>
        <th scope="col"  >Status</th>
        <th style="text-align: center;" scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-T>
      <tr>
        <td >{{ T.id }}</td>
        <td >{{ T.libelle }}</td>
        <td >{{ T.assigne.firstname }}</td>
        <td >{{ T.declarant.firstname }}</td>
        <td >{{ T.creationdate | date:'dd/MM/yyyy' }}</td>
        <td [ngClass]="{'status-gray': T.status.label === 'EnCour', 'status-green': T.status.label === 'Terminer', 'status-red': T.status.label === 'Declancher'}" class="badge badge-success rounded-pill d-inline">{{ T.status.label }}</td>
        <td class="text-center btn2">
          <button (click)="viewTicketDetail(T.id)" class="btn btn-danger">View</button>&nbsp;
          <button (click)="updateTicket(T.id)" class="btn btn-info">Update</button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">

  </ng-template>
  <ng-template pTemplate="paginatorright">

  </ng-template>
  </p-table>
</div>
